{% extends "AcmeDemoBundle:Article:layout.html.twig" %}

{% block title "Atricle - " ~title %}
    {% block project_name project_name %}

        {% block content %}
            <h1 class="title">{{ title }}</h1>
        {% endblock %}