<h1>View {{ title }}!</h1>
<ul>
    <li>
        <strong>ID:</strong> {{ id }}
    </li>
    <li>
        <strong>Title:</strong> {{ title }}
    </li>
    <li>
        <strong>Description:</strong> {{ desc }}
    </li>
</ul>
