body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
}

.articles-block ul {
    text-align: left;
}

.article-title {
    font-weight: bold;
}

.article-created {
    color: #808080;
}

.articles-block > ul > li {
    border-bottom: 1px dotted #808080;
    margin-bottom: 15px;
    padding-bottom: 10px;
}